<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer mt-5 pt-1 wow fadeIn" data-wow-delay="0.1s">
  <div class="container py-3">
      <div class="row g-5">
          <div class="col-lg-4 col-md-6">
              <h1 class="fw-bold text-primary mb-4">Jor.<span class="text-white">Congresos</span></h1>
              <p></p>
              <div class="d-flex pt-2">
                  <a class="btn btn-square me-1" href=""><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-square me-1" href=""><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-square me-1" href=""><i class="fab fa-youtube"></i></a>
                  <a class="btn btn-square me-0" href=""><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <h5 class="text-light mb-4">Dirección</h5>
              <p><i class="fa fa-map-marker-alt me-3"></i>Cnel. Otero 262, San Salvador de Jujuy, Jujuy, Argentina</p>
              <p><i class="fa fa-phone-alt me-3"></i>+54 388-4221571</p>
              <p><i class="fa fa-envelope me-3"></i>direccioninformatica&#64;fhycs.unju.edu.ar</p>
          </div>
          <div class="col-lg-4 col-md-6">
              <h5 class="text-light mb-4">Links</h5>
              <a class="btn btn-link" href="./home">Inicio</a>
              <a class="btn btn-link" href="./eventos2021">eventos2021</a>
              <a class="btn btn-link" href="./eventos2022">eventos2022/23</a>
              <a class="btn btn-link" href="./eventos2024">eventos2024</a>
          </div>

      </div>
  </div>
  <div class="container-fluid copyright">
      <div class="container">
          <div class="row">
              <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                  &copy; <a href="#">Jornadas Congresos</a>, Facultad de Humanidades y Ciencias Sociales.
              </div>
              <div class="col-md-6 text-center text-md-end">
                  <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                  Diseñado por <a href="#">Dirección Informática</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Footer End -->
