 <!-- Carousel Start -->
 <div class="container-fluid p-0">
  <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="w-100" src="./assets/img/programa1.png" alt="Image">
              <div class="carousel-caption">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-7 pt-5">
                              <h1 class="display-4 text-white mb-3 animated slideInDown">Jornada del Norte Argentino</h1>
                              <p class="fs-5 text-white-50 mb-5 animated slideInDown">Jornadas Congresos</p>
                              <a class="btn btn-primary py-2 px-3 animated slideInDown" href="">
                                  Leer más
                                  <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                      <i class="fa fa-arrow-right"></i>
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <img class="w-100" src="./assets/img/congresoandino2.jpg" alt="Image">
              <div class="carousel-caption">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-7 pt-5">
                              <h1 class="display-4 text-white mb-3 animated slideInDown">Congreso Internacional de Literatura</h1>
                              <p class="fs-5 text-white-50 mb-5 animated slideInDown">Jornadas Congresos</p>
                              <a class="btn btn-primary py-2 px-3 animated slideInDown" href="">
                                  Leer Más
                                  <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                      <i class="fa fa-arrow-right"></i>
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
</div>
<!-- Carousel End -->

 <!-- Causes Start -->
 <div class="container-xxl bg-light my-3 py-3">
  <div class="container py-5">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
          <div class="d-inline-block rounded-pill bg-primary text-white py-1 px-3 mb-3">Eventos Realizados</div>
          <h1 class="display-6 mb-5">Jornadas Congresos 2021</h1>
      </div>

       <!-- 1 Sección -->
      <div class="row g-4 justify-content-center">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-90">
                  <div class="text-center p-2 pt-0">
                      <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                          <small>8°</small>
                      </div>
                      <h5 class="mb-3">VIII Jornadas del Norte Argentino de Estudios Literarios y Lingüísticos</h5>
                      <p>Evento del 6 al 10 de Septiembre del 2021</p>
                  </div>
                  <div class="position-relative mt-auto">
                      <img class="img-fluid" src="./assets/img/programa.png" alt="">
                      <div class="causes-overlay">
                          <a class="btn btn-outline-primary" href="https://jornadasdelnorte.blogspot.com//" target="_blank">
                              Visitanos en:
                              <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                  <i class="fa fa-arrow-right"></i>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-90">
                  <div class="text-center p-4 pt-0">
                      <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                          <small>2°</small>
                      </div>
                      <h5 class="mb-3"> II Congreso Internacional de Literatura de Culturas Andinas</h5>
                      <p>Evento del 15 al 19 de Noviembre del 2021</p>

                  </div>
                  <div class="position-relative mt-auto">
                      <img class="img-fluid" src="./assets/img/congresoandino.jpg" alt="">
                      <div class="causes-overlay">
                          <a class="btn btn-outline-primary" href="https://jornadascongresos.fhycs.unju.edu.ar/congresoandino/" target="_blank">
                            Visitanos en:
                              <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                  <i class="fa fa-arrow-right"></i>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-90">
                  <div class="text-center p-4 pt-0">
                      <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                          <small>7°</small>
                      </div>
                      <h5 class="mb-3">VII Jornada Latinoamericana de Analisis de Redes Sociales</h5>
                      <p>Evento del 15 al 19 de Noviembre del 2021</p>

                  </div>
                  <div class="position-relative mt-auto">
                      <img class="img-fluid" src="./assets/img/descarga.jfif" alt="">
                      <div class="causes-overlay">
                          <a class="btn btn-outline-primary" href="https://www.aacademica.org/vii.reunion.latinoamericana.de.ars" target="_blank">
                            Visitanos en:
                              <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                  <i class="fa fa-arrow-right"></i>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Fin 1 Sección -->

       <!-- 2 Sección -->
      <div class="container py-5">
      <div class="row g-4 justify-content-center">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-90">
                <div class="text-center p-2 pt-0">
                    <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                        <small>11°</small>
                    </div>
                    <h5 class="mb-3">XI Congreso Nacional de Didactica de la Lengua y Literatura</h5>
                    <p>Evento del 18 al 20 de Noviembre del 2021</p>
                </div>
                <div class="position-relative mt-auto">
                    <img class="img-fluid" src="./assets/img/logoquia.png" alt="">
                    <div class="causes-overlay">
                        <a class="btn btn-outline-primary" href="https://jornadascongresos.fhycs.unju.edu.ar/didacticalenguayliteratura/" target="_blank">
                            Visitanos en:
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-90">
                <div class="text-center p-4 pt-0">
                    <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                        <small>2°</small>
                    </div>
                    <h5 class="mb-3"> II Seminario Regional Andino</h5>
                    <p>Evento 11 y 12 de Noviembre del 2021</p>

                </div>
                <div class="position-relative mt-auto">
                    <img class="img-fluid" src="./assets/img/seminarioregional.jpg" alt="">
                    <div class="causes-overlay">
                        <a class="btn btn-outline-primary" href="https://www.fhycs.unju.edu.ar/noticia.php?num=1041#" target="_blank">
                          Visitanos en:
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-90">
                <div class="text-center p-4 pt-0">
                    <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                        <small>5°</small>
                    </div>
                    <h5 class="mb-3">V Jornadas de Literatura de la Argentina y del NOA "Estéticas Fronterizas"</h5>
                    <p>Evento 9 y 10 de Diciembre del 2021</p>

                </div>
                <div class="position-relative mt-auto">
                    <img class="img-fluid" src="./assets/img/jornadafronterizas.jpg" alt="">
                    <div class="causes-overlay">
                        <a class="btn btn-outline-primary" href="https://www.facebook.com/events/320261906599378/?active_tab=discussion" target="_blank">
                          Visitanos en:
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Fin 2 Sección -->

  </div>
</div>
<!-- Causes End -->




