  <!-- Carousel Start -->
  <div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="./assets/img/posgrado1.png" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 pt-5">
                                <h1 class="display-4 text-white mb-3 animated slideInDown">Jornada de Posgrado</h1>
                                <p class="fs-5 text-white-50 mb-5 animated slideInDown">Jornadas Congresos</p>
                                <a class="btn btn-primary py-2 px-3 animated slideInDown" href="">
                                    Leer más
                                    <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="./assets/img/forodeestudios1.jpg" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 pt-5">
                                <h1 class="display-4 text-white mb-3 animated slideInDown">Foro de Estudios Literarios del Lenguaje</h1>
                                <p class="fs-5 text-white-50 mb-5 animated slideInDown">Jornadas Congresos</p>
                                <a class="btn btn-primary py-2 px-3 animated slideInDown" href="">
                                    Leer Más
                                    <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
  </div>
  <!-- Carousel End -->

 <!-- Causes Start -->
 <div class="container-xxl bg-light my-3 py-3">
  <div class="container py-5">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
          <div class="d-inline-block rounded-pill bg-primary text-white py-1 px-3 mb-3">Eventos Realizados</div>
          <h1 class="display-6 mb-5">Jornadas Congresos 2022</h1>
      </div>

       <!-- 1 Sección -->
      <div class="row g-4 justify-content-center">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-90">
                  <div class="text-center p-2 pt-0">
                      <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                          <small>2°</small>
                      </div>
                      <h5 class="mb-3">II Encuentro de Cátedras de Psicología</h5>
                      <p>Evento 27 y 28 de Octubre del 2022</p>
                  </div>
                  <div class="position-relative mt-auto">
                      <img class="img-fluid" src="./assets/img/psicologia.jpg" alt="">
                      <div class="causes-overlay">
                          <a class="btn btn-outline-primary" href="https://www.facebook.com/people/II-Encuentro-de-C%C3%A1tedras-de-Psicologia/100083279937577/" target="_blank">
                              Visitanos en:
                              <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                  <i class="fa fa-arrow-right"></i>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-90">
                  <div class="text-center p-4 pt-0">
                      <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                          <small>1°</small>
                      </div>
                      <h5 class="mb-3">Foro de Estudios Literarios del Lenguaje</h5>
                      <p>Evento del 19 al 21 de Octubre del 2022</p>

                  </div>
                  <div class="position-relative mt-auto">
                      <img class="img-fluid" src="./assets/img/forodeestudios.jpg" alt="">
                      <div class="causes-overlay">
                          <a class="btn btn-outline-primary" href="">
                            Visitanos en:
                              <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                  <i class="fa fa-arrow-right"></i>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-90">
                  <div class="text-center p-4 pt-0">
                      <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                          <small>1°</small>
                      </div>
                      <h5 class="mb-3">I Jornada de Posgrado</h5>
                      <p>Evento 10 y 11 de Noviembre del 2021</p>

                  </div>
                  <div class="position-relative mt-auto">
                      <img class="img-fluid" src="./assets/img/posgrado.png" alt="">
                      <div class="causes-overlay">
                          <a class="btn btn-outline-primary" href="https://jornadascongresos.fhycs.unju.edu.ar/jornadasdeposgrado/" target="_blank">
                              Visitanos es:
                              <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                  <i class="fa fa-arrow-right"></i>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Fin 1 Sección -->

       <!-- 2 Sección -->
      <div class="container py-5">
      <div class="row g-4 justify-content-center">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-90">
                <div class="text-center p-2 pt-0">
                    <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                        <small>1°</small>
                    </div>
                    <h5 class="mb-3">Ideaton Innovación y Turismo</h5>
                    <p>Evento 28 de Octubre del 2022</p>
                </div>
                <div class="position-relative mt-auto">
                    <img class="img-fluid" src="./assets/img/ideaton.jpg" alt="">
                    <div class="causes-overlay">
                        <a class="btn btn-outline-primary" href="https://jornadascongresos.fhycs.unju.edu.ar/ideaton/" target="_blank">
                            Visitanos en:
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Fin 2 Sección -->

    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <div class="d-inline-block rounded-pill bg-primary text-white py-1 px-3 mb-3">Evento Realizado</div>
      <h1 class="display-6 mb-5">Jornadas Congresos 2023</h1>
  </div>

  <div class="row g-4 justify-content-center">
  <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-90">
        <div class="text-center p-2 pt-0">
            <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                <small>15°</small>
            </div>
            <h5 class="mb-3">XV Jornadas Nacionales de Historia de las Mujeres</h5>
            <h5 class="mb-3">X Congreso Iberoamericano de Estudios de Género</h5>
            <p>Evento 29 al 31 de Mayo del 2023</p>
        </div>
        <div class="position-relative mt-auto">
            <img class="img-fluid" src="./assets/img/jornadamujeres.jpg" alt="">
            <div class="causes-overlay">
                <a class="btn btn-outline-primary" href="https://jornadascongresos.fhycs.unju.edu.ar/genero/" target="_blank">
                    Visitanos en:
                    <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>

  </div>
</div>
<!-- Causes End -->
